.navbar{
    background-color:  #203647;
    color: white;
    display: flex;
    width: 100%;
    padding: 15px 10px;
    align-items: center;
    justify-content: space-around;
}
.navbar .nav-head{
    font-weight: bolder;
    font-size: 1.5rem;
}
.navbar .btn{
    background-color: #4DA8DA;
    margin: 0px 5px;
}