.status-prompt{
    width: 90%;
    position: fixed;
    top: 10px;
    background-color: red;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
    padding: 3px 10px;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    opacity: 1;
    transition-duration: 0.5s;
}
.hide{
    top: -100%;
    opacity: 0;
}