*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
}
.btn{
  border-radius:10px;
  padding:5px 10px;
  background-color: #203647;
  color:white;
  border:none;
  transition-duration:0.2s;
}
.btn:hover{
  box-shadow: 0px 0px 5px white;
}